body{
    background-color: #fcf7eb;
}

#top{
    overflow: auto;
}

#logo img{
    float: left;
     width: 300px;
     margin-top: 0px;
     margin-left: 10px;
 }
 
 .navbar{
    float: right;
    margin-top: -33px;
    margin-right: -10px;
     padding: 5px 5px;
 }
 
 .navbar ul{
     list-style-type: none;
     padding: 2px;
     margin: 2px;
     overflow: hidden;
 }
 
 .navbar a{
     display: block;
     text-decoration: none;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: large;
     font-weight: normal;
     color: #314F40;
     padding-top: 7px;
     padding-bottom: 7px;
     margin-top: 15px;
     margin-bottom: 10px;
     margin-right: 30px;
     text-align: center;
 }
 
 .navbar a:hover{
     text-decoration: underline;
     
 }
 
 .navbar li{
     float: left;
 }

 #title{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 30px;
    padding: 20px;
    color: #314F40;
 }

 #pic1{
    overflow: auto;
 }


 #pic1 img{
    width: 400px;
    margin-left: 160px;
    margin-right: 55px;
   float: left;
 }


 #p1{
   text-align: center;
    color: #314F40;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 19px;
    margin-right: 160px;
    line-height: 2;
 }

 #pic2 img{
    width: 400px;
    margin-left: 55px;
    margin-right: 160px;
   float: right;
 }

 #p2{
     text-align: center;
    color: #314F40;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 19px;
    margin-left: 160px;
    line-height: 2;
 }

 #p3{
    text-align: center;
     color: #314F40;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: normal;
     font-size: 19px;
     margin-right: 160px;
     line-height: 2;
}

#pic3 img{
    width: 650px;
    margin-left: 160px;
    margin-right: 55px;
   float: left;
}


#p4{
    text-align: center;
     color: #314F40;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: normal;
     font-size: 19px;
     margin-right: 160px;
     line-height: 2;
  }

 #quote{
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    bottom: 0;
    background-color: #314F40;
    color: #fcf7eb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    font-weight: normal;
}

#carolyn{
    font-size: small;
}

#links{
    text-align: right;
    margin-right: 25px;
}

#links a{
    text-decoration: none;
}

#links img{
    bottom: 0;
    width: 37px;
    padding-bottom: 10px;
}

#links ul{
    list-style-type: none;
}


#resume{
    text-align: center;
}

#statement{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: normal;
    color: #314F40;
    line-height: 2;

}